<div class="summary-details" style="min-width: 50%; max-width: 50%; float: left; padding-left: 10px;">
  <h3>
    <%= business.escape("name").replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}) %>
  </h3>
  <h4>
    <input type="hidden" class="rating" value="<%= business.escape('avg_rating') %>" data-readonly>
  </h4>

  <p>
    <%= business.escape("address") %>
    <%= business.escape("city") + ", " + business.escape("state") + " " + business.escape("zip_code") %>
  </p>

  <p>
    <% for(var i = 0; i < business.get("price_range"); i++) { %>
      <span class="glyphicon glyphicon-usd"></span>
    <% } %>
  </p>

  <span><%= business.escape("num_reviews") %> Reviews</span>

  <span style="float: right;"><%= business.get("categories").join(", ") %></span>
</div>

<div class="summary-photos" style="max-width: 50%; height: 100%; float: right;">
  <div id="centering" style="display: inline-block; height: 100%; vertical-align: middle; width: 10%;"></div>

  <% if(photos.at(0)) { %>
    <img src= "<%= photos.at(0).escape("compressed") %>" class="summary-photo"/>
  <% } %>
  <% if(photos.at(1)) { %>
    <img src= "<%= photos.at(1).escape("compressed") %>" class="summary-photo"/>
  <% } %>
</div>

<script type="text/javascript">
  $(function() {
    $(".rating").rating();
  });
</script>
