<!DOCTYPE html>
<html>
<head>
  <title>Pley</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render template: "layouts/_navigation_bar" %>

  <% if flash[:errors] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:errors].join("<br>").html_safe %>
    </div>
  <% end %>

  <div id="site-content">
    <%= yield %>
  </div>

</body>
</html>
