<!DOCTYPE html>
<html>
<head>
  <title>Pley</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script type="text/javascript">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%= ENV["CLOUD_NAME"] %>",
      upload_preset: "<%= ENV["UPLOAD_PRESET"] %>",
      min_image_width: 350,
      min_image_height: 350,
      theme: "minimal"
    };
  </script>
</head>
<body>

  <%= render template: "layouts/_navigation_bar" %>

  <% if flash[:errors] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:errors].join("<br>").html_safe %>
    </div>
  <% end %>

  <div id="site-content">
    <%= yield %>
  </div>

</body>
</html>
